{% extends 'layout.html' %}
{% block content %}
    <form action="" method="post">
        <h1>表单从这开始</h1>
        {{ form.hidden_tag() }}
        <p>
            Please enter your OpenID:<br>
            {{ form.openid(size=80) }}<br>
        </p>
        <p>{{ form.remember_me }} Remember Me</p>
        <p>{{ form.submit }}</p>
    </form>


    <h1>另一种表单，捕捉errors</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            Please enter your OpenID:<br>
            {{ form.openid(size=80) }}<br>
            {% for error in form.openid.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>{{ form.remember_me }} Remember Me</p>
        {% for error in form.remember_me.errors %}
            <span style="color: sandybrown">{{ error }}</span>
        {% endfor %}

        <p>{{ form.submit }}</p>
    </form>


{% endblock %}

